@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
body {
	background-color:#050505;
	background-image: url(https://cdn.discordapp.com/attachments/732419207559380993/777236510831411230/wertbj.png);
	background-position-y: 50px;
	margin: 0;
	font-family: 'Kanit';
}

h1 {
	font-size: 30px;
	text-align: left;
	color: #880015;
	display: block;
	margin: 0px;
	margin-left: 2px;
}
h2 {
	font-size: 28px;
	text-decoration: #880015;
}
h3 {
	font-size: 28px;
	color: #880015;
}
header {
	background-color: #050505;
}

ul {
	list-style-type: none;
	margin: 0;
	margin-bottom: 25;
	padding: 0;
	overflow: hidden;
	background-color: #880015;
}

li {
	float: left;
}

li a {
	display: block;
    color: #111111;
    background-color: #880015;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	color: #880015;
	background-color: #111111;
}

.active {
	background-color: #050500;
	color: white;
}

.unbulleted-list {
	list-style-type: none;
}

iframe {
	margin-top: 50px;
	margin-left: 2px;
}

main {
	color: #000000;
	margin: 20px;
	text-align: center;
}